html,
body {
    background-color: #001f3f;
}

input[type="text"] {
    background: none;
    border: none;
    color: #7FDBFF;
    outline: none;
    font-family: "Inconsolata", "Andale Mono", sans-serif;
    font-size: 500%;
    text-align: center;
}

input[type="submit"] {
    outline: none;
    border: none;
    font-family: "Inconsolata", "Andale Mono", sans-serif;
    font-size: 200%;
    font-weight: bold;
}

#hex {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40%;
    border-bottom: solid 3px #7FDBFF;
}

#decimal {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    height: 40%;
}

#check {
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    height: 20%;
    background-color: #7FDBFF;
    color: #001f3f;
}
